<!-- eslint-disable @angular-eslint/template/no-negated-async -->
<div class="min-h-screen xl:flex">
    <div>
        <app-sidebar></app-sidebar>
        <app-backdrop></app-backdrop>
    </div>
    <div
        class="flex min-w-0 flex-1 flex-col transition-all duration-200 ease-in-out"
        [ngClass]="{
            'xl:ml-[260px]': (isExpanded$ | async) || (isHovered$ | async),
            'xl:ml-[68px]': !(isExpanded$ | async) && !(isHovered$ | async),
            'ml-0': (isMobileOpen$ | async),
        }"
    >
        <!-- app header start -->
        <app-header />
        <!-- app header end -->
        <div class="mx-auto w-full max-w-(--breakpoint-2xl) px-4 py-5 md:px-6 md:py-6">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
