<!-- eslint-disable @angular-eslint/template/no-negated-async -->
<ng-template #navIcon let-icon="icon">
    @switch (icon) {
        @case ('grid') {
            <svg lucideLayoutGrid></svg>
        }
        @case ('box') {
            <svg lucideBox></svg>
        }
        @case ('git-branch') {
            <svg lucideGitBranch></svg>
        }
        @case ('server') {
            <svg lucideServer></svg>
        }
    }
</ng-template>

<aside
    class="fixed top-0 left-0 z-50 flex h-screen flex-col border-r border-gray-200 bg-white text-gray-900 transition-all duration-200 ease-in-out dark:border-gray-800 dark:bg-gray-950"
    [ngClass]="{
        'w-[260px]': (isExpanded$ | async) || (isMobileOpen$ | async) || (isHovered$ | async),
        'w-[68px]': !((isExpanded$ | async) || (isMobileOpen$ | async) || (isHovered$ | async)),
        'translate-x-0': isMobileOpen$ | async,
        '-translate-x-full': !(isMobileOpen$ | async),
        'xl:translate-x-0': true,
    }"
    (mouseenter)="onSidebarMouseEnter()"
    (mouseleave)="sidebarService.setHovered(false)"
>
    <div
        class="flex h-16 shrink-0 items-center border-b border-gray-200 px-3 dark:border-gray-800"
        [ngClass]="{
            'justify-center': !((isExpanded$ | async) || (isHovered$ | async) || (isMobileOpen$ | async)),
            'justify-start': (isExpanded$ | async) || (isHovered$ | async) || (isMobileOpen$ | async),
        }"
    >
        <a routerLink="/" class="flex items-center">
            @if ((isExpanded$ | async) || (isHovered$ | async) || (isMobileOpen$ | async)) {
                <img class="dark:hidden" src="/images/logo/logo.svg" alt="GitPaaS" width="154" height="32" />
                <img class="hidden dark:block" src="/images/logo/logo-dark.svg" alt="GitPaaS" width="154" height="32" />
            } @else {
                <img src="/images/logo/logo-icon.svg" alt="GitPaaS" width="28" height="28" />
            }
        </a>
    </div>

    <div class="no-scrollbar flex min-h-0 flex-1 flex-col overflow-y-auto px-2 py-3">
        <nav>
            <div class="flex flex-col gap-5">
                <!-- Menu Section -->
                <div>
                    <h2
                        class="mb-1.5 flex h-5 items-center px-2.5 text-theme-xs font-semibold uppercase tracking-wider text-gray-400 dark:text-gray-500"
                        [ngClass]="{
                            'justify-center': !(
                                (isExpanded$ | async) ||
                                (isHovered$ | async) ||
                                (isMobileOpen$ | async)
                            ),
                            'justify-start': (isExpanded$ | async) || (isHovered$ | async) || (isMobileOpen$ | async),
                        }"
                    >
                        @if ((isExpanded$ | async) || (isHovered$ | async) || (isMobileOpen$ | async)) {
                            Menu
                        } @else {
                            <svg lucideEllipsis class="size-4"></svg>
                        }
                    </h2>
                    <ul class="flex flex-col gap-0.5">
                        @for (nav of navItems; track $index; let i = $index) {
                            <li>
                                @if (nav.subItems) {
                                    <button
                                        (click)="toggleSubmenu('main', i)"
                                        class="menu-item group cursor-pointer"
                                        [class.menu-item-active]="openSubmenu === 'main-' + i"
                                        [class.menu-item-inactive]="openSubmenu !== 'main-' + i"
                                        [ngClass]="{
                                            'justify-center': !(
                                                (isExpanded$ | async) ||
                                                (isHovered$ | async) ||
                                                (isMobileOpen$ | async)
                                            ),
                                            'justify-start':
                                                (isExpanded$ | async) ||
                                                (isHovered$ | async) ||
                                                (isMobileOpen$ | async),
                                        }"
                                    >
                                        <span
                                            class="menu-item-icon-size"
                                            [class.menu-item-icon-active]="openSubmenu === 'main-' + i"
                                            [class.menu-item-icon-inactive]="openSubmenu !== 'main-' + i"
                                        >
                                            <ng-container
                                                [ngTemplateOutlet]="navIcon"
                                                [ngTemplateOutletContext]="{ icon: nav.icon }"
                                            />
                                        </span>
                                        @if ((isExpanded$ | async) || (isHovered$ | async) || (isMobileOpen$ | async)) {
                                            <span class="menu-item-text">
                                                {{ nav.name }}
                                            </span>
                                        }
                                        @if (
                                            nav.new &&
                                            ((isExpanded$ | async) || (isHovered$ | async) || (isMobileOpen$ | async))
                                        ) {
                                            <span
                                                class="menu-dropdown-badge ml-auto"
                                                [ngClass]="{
                                                    'menu-dropdown-badge-active': openSubmenu === 'main-' + i,
                                                    'menu-dropdown-badge-inactive': openSubmenu !== 'main-' + i,
                                                }"
                                            >
                                                new
                                            </span>
                                        }
                                        @if ((isExpanded$ | async) || (isHovered$ | async) || (isMobileOpen$ | async)) {
                                            <svg
                                                lucideChevronDown
                                                class="menu-item-arrow size-4"
                                                [ngClass]="{
                                                    'menu-item-arrow-active': openSubmenu === 'main-' + i,
                                                    'menu-item-arrow-inactive': openSubmenu !== 'main-' + i,
                                                }"
                                            ></svg>
                                        }
                                    </button>
                                    <div
                                        class="overflow-hidden transition-all duration-200"
                                        [id]="'main-' + i"
                                        [style.display]="
                                            (isExpanded$ | async) || (isHovered$ | async) || (isMobileOpen$ | async)
                                                ? 'block'
                                                : 'none'
                                        "
                                        [ngStyle]="{
                                            height:
                                                openSubmenu === 'main-' + i
                                                    ? (subMenuHeights['main-' + i] || 0) + 'px'
                                                    : '0px',
                                        }"
                                    >
                                        <ul
                                            class="mt-0.5 ml-7.5 flex flex-col gap-0.5 border-l border-gray-200 pl-1.5 dark:border-gray-800"
                                        >
                                            @for (subItem of nav.subItems; track $index) {
                                                <li>
                                                    <a
                                                        [routerLink]="subItem.path"
                                                        routerLinkActive=""
                                                        (click)="onSubmenuClick()"
                                                        class="menu-dropdown-item group"
                                                        [ngClass]="{
                                                            'menu-dropdown-item-inactive': !isActive(subItem.path),
                                                            'menu-dropdown-item-active': isActive(subItem.path),
                                                        }"
                                                    >
                                                        {{ subItem.name }}
                                                        <span class="ml-auto flex items-center gap-1">
                                                            @if (subItem.new) {
                                                                <span
                                                                    class="menu-dropdown-badge"
                                                                    [ngClass]="{
                                                                        'menu-dropdown-badge-active': isActive(
                                                                            subItem.path
                                                                        ),
                                                                        'menu-dropdown-badge-inactive': !isActive(
                                                                            subItem.path
                                                                        ),
                                                                    }"
                                                                >
                                                                    new
                                                                </span>
                                                            }
                                                            @if (subItem.pro) {
                                                                <span
                                                                    class="menu-dropdown-badge-pro"
                                                                    [ngClass]="{
                                                                        'menu-dropdown-badge-pro-active': isActive(
                                                                            subItem.path
                                                                        ),
                                                                        'menu-dropdown-badge-pro-inactive': !isActive(
                                                                            subItem.path
                                                                        ),
                                                                    }"
                                                                >
                                                                    pro
                                                                </span>
                                                            }
                                                        </span>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                } @else {
                                    @if (nav.path) {
                                        <a
                                            [routerLink]="nav.path"
                                            routerLinkActive="menu-item-active"
                                            class="menu-item group"
                                            [ngClass]="{
                                                'menu-item-inactive': !isActive(nav.path),
                                                'justify-center': !(
                                                    (isExpanded$ | async) ||
                                                    (isHovered$ | async) ||
                                                    (isMobileOpen$ | async)
                                                ),
                                                'justify-start':
                                                    (isExpanded$ | async) ||
                                                    (isHovered$ | async) ||
                                                    (isMobileOpen$ | async),
                                            }"
                                            [attr.title]="
                                                (isExpanded$ | async) || (isHovered$ | async) || (isMobileOpen$ | async)
                                                    ? null
                                                    : nav.name
                                            "
                                        >
                                            <span
                                                class="menu-item-icon-size"
                                                [ngClass]="{
                                                    'menu-item-icon-active': isActive(nav.path),
                                                    'menu-item-icon-inactive': !isActive(nav.path),
                                                }"
                                            >
                                                <ng-container
                                                    [ngTemplateOutlet]="navIcon"
                                                    [ngTemplateOutletContext]="{ icon: nav.icon }"
                                                />
                                            </span>
                                            @if (
                                                (isExpanded$ | async) || (isHovered$ | async) || (isMobileOpen$ | async)
                                            ) {
                                                <span class="menu-item-text">
                                                    {{ nav.name }}
                                                </span>
                                            }
                                        </a>
                                    }
                                }
                            </li>
                        }
                    </ul>
                </div>
                <!-- end main menu -->
            </div>
        </nav>
    </div>

    <app-sidebar-version />
</aside>
