<app-breadcrumb [items]="breadcrumb()" [icon]="icon" />

<app-tabs [tabs]="tabs" [activeId]="activeTab()" (activeIdChange)="changeTab($any($event))" />

<div class="mt-6">
    @if (activeTab() === 'services') {
        <div class="mb-6 flex items-center justify-end">
            <a
                [routerLink]="['/namespaces', namespaceId(), 'projects', id(), 'services', 'add']"
                class="rounded-lg bg-brand-500 px-4 py-2.5 text-sm font-medium text-white hover:bg-brand-600"
            >
                Add service
            </a>
        </div>

        <app-services-list [namespaceId]="namespaceId()" [projectId]="id()" />
    }

    @if (activeTab() === 'networks') {
        <app-project-networks-list [namespaceId]="namespaceId()" [projectId]="id()" />
    }
</div>
