<app-breadcrumb [items]="breadcrumb()" />

<app-tabs [tabs]="tabs" [activeId]="activeTab()" (activeIdChange)="activeTab.set($any($event))" />

<div class="mt-6">
    @switch (activeTab()) {
        @case ('general') {
            <app-service-deploy-actions class="mb-6 block" />

            <app-service-provider
                [initialRepositoryId]="service.value()?.repositoryId ?? ''"
                [initialBranch]="service.value()?.deploymentBranch ?? ''"
                [initialComposerPath]="service.value()?.composerPath || 'docker-compose.yml'"
                [saving]="savingProvider()"
                (save)="saveProvider($event)"
            />
        }

        @case ('deployments') {
            <app-service-deployments />
        }

        @case ('logs') {
            <app-service-logs />
        }
    }
</div>
