<app-breadcrumb [items]="breadcrumb()" />

@if (loading()) {
    <app-component-card title="Service details">
        <div class="flex flex-col gap-6">
            <div class="flex flex-col gap-2">
                <app-skeleton variant="text" className="max-w-24" />
                <app-skeleton variant="row" />
            </div>
            <app-skeleton variant="row" className="max-w-40" />
        </div>
    </app-component-card>
} @else {
    <app-service-form
        [namespaceId]="namespaceId"
        [projectId]="projectId"
        [initialName]="initialName()"
        submitLabel="Save changes"
        [submitting]="submitting()"
        (save)="update($event)"
    />
}
